<nav class="navbar">
  <div class="logo">
    <h1>
      <a href="/"><li class="logo">Wishlist</li></a>
    </h1>
  </div>
  <div>
    <% if(typeof(user) !== 'undefined' && user) {%>
    <h1 class="logo-mid">Wishlist - <%= user.username %></h1>
    <% } else { %>
    <h1 class="logo-mid">Wishlist</h1>
    <% } %>
  </div>
  <ul>
    <% if(typeof(user) !== 'undefined' && user) {%>
    <a href="/home/<%= user.username %>"><li>Min side</li></a>
    <a href="/logout"><li>Logg ut</li></a>
    <% } else { %>
    <a href="/login"><li>Logg inn</li></a>
    <% } %>
  </ul>
</nav>
