<%-include('./partials/header') %>

<div class="form-container">
<h1>Logg inn</h1>
<form action="/login" method="get" id="loginform">


  <input type="username" name="username" id="username" placeholder="brukernavn" required/>
 

  <input type="password" name="password" id="password" placeholder="passord" required/>
  <div class="username error"></div>
  <div class="password error"></div>

  <!-- <input type="submit" value="Logg inn" /> -->
  <button type="submit">Logg inn</button>

  <a href="/signup">Opprett ny bruker</a>
</form>
</div>


<%-include('./partials/footer') %>

<script>
  const form = document.querySelector("#loginform");
  const usernameError = document.querySelector(".username.error");
  const passwordError = document.querySelector(".password.error");

  form.addEventListener("submit", async (e) => {
    console.log(e + " Event")
    e.preventDefault();

    //reset errors
    usernameError.textContent = "";
    passwordError.textContent = "";

    //get values
    const username = form.username.value;
    const password = form.password.value;

    try {
      const res = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ username, password }),
        headers: { "Content-Type": "application/json" },
      });

      const data = await res.json();
      console.log('this is data:', data);

      if (data.errors) {
        usernameError.textContent = data.errors.username;
        passwordError.textContent = data.errors.password;
      };

      if (data.user) {
        console.log('DATA USER', data.user);
        location.assign(`/home/${data.username}`);
      };

    } catch (err) {
      console.log(err);
    }
  });
</script>
