<%-include('./partials/header') %>

<ol>
  <% if(wishes.length > 0){ let i = 0; wishes.forEach((wish) => { %>

  <li><%= wishes[i].wish %></li>

  <% i++ }) } %>
</ol>

<%-include('./partials/footer') %>
