<%-include('./partials/header') %>

<h1>Velkommen til wishlist veileder!</h1>

<p>Vil du omprioritere dine egene ønsker? Hvis svaret er ja bare følg denne enkle guiden.</p>
<br><br>
<p>Første steg er å gå inn på "Min side" som du finner til høyre i navbaren.</p>
<p>Da vil du få opp din personlige liste som vil se noe lik ut som på bildet.</p>
<img src="/img/steg1.png" alt="eksempel på en personlig ønskeliste">
<br>

<p>Hvis du vil nedprioritere et ønske trykker du på pil ned symbolet som ser slik ut:</p>
<img src="/img/steg2.png" alt="pil ned">
<br>

<p>Hvis du vil ha høyere prioritering på et ønske trykker du på pil opp symbolet som ser slik ut:</p>
<img src="/img/steg3.png" alt="pil ned">
<br>

<p>Ønsket vil bytte plass med en gang du trykker på knappen. Som dette:</p>
<img src="/img/steg4.png" alt="resultat">
<br><br>
<p>Du legger kanskje også merke til at det nederste ønsket også har en pil ned knap, men ikke vær redd!</p>
<p>Om du trykker pil ned på det nederste ønsket skjer det ingenting!</p>
<p>Det samme gjelder det øverste ønsket og pil opp</p>
<p>God ønsking!</p>

<%-include('./partials/footer') %>